<div class="box">
      <div class="pin_image">
        <%= link_to (image_tag pin.image(:medium)), pin%>
        
        <span>
          <% unless pin.price == nil %>
                <!--<button class="btn btn-small pull_left"><i class="icon-tags"></i> buy</button>-->
                <%= button_to "buy",line_items_path(:pin_id => pin), :class => 'buy btn btn-small' %>
          <%end%>
        </span> 
        <% unless pin.price == nil %>
          <div class="price">  
            <i class="icon-tags"></i><%= number_to_currency (pin.price) %> 
           </div>        
        <%end%>

        <div class="btn_wrapper">
          <button class="btn btn-small pull_left"><i class="icon-heart"></i> like</button>
        </div>

      </div>
      
      <span><i class="icon-eye-open icon-border"></i> <%= pin.impressionist_count %></span>
      <p class="pin_title">
        <%= pin.description %>
      </p>

      <div class="media_box">

        <div class="top-gravatar">
          <%= image_tag pin.user.gravatar_url, :class => "img-polaroid" %>
        </div>

         <div class="user_info" >
           <strong>Pinned by</strong><br/> 
           <%if pin.user.name == nil %>
           <strong>Default User</strong>
           <%else%>  
           <strong><%= link_to pin.user.name, pin.user %></strong>
           <%end%>
         </div>

      </div> 
       
      <div class="pin_action">    
        <%if current_user == pin.user %>
          <%= link_to raw('<i class="icon-trash"></i>'),pin, method: :delete, data:{confirm: "Are you sure you want to delete this pin."}  %>
        <%end%>
      </div> 
           
      
</div>