<div class="container_16">
	<div class="grid_16">
		<div class="index">
			<div class="grid_12 alpha">
				<div class="pin_display">
					<%= @pin.description %> 
                  <div class=" back pull_left">
                  <%= ilink_to "remove","", pins_path, class: 'btn btn-small' %>
			      </div>
				</div>
				
				<div class="pin_main">
					<div class="wrapper_btn">
		              <button class="btn btn-small pull_left"><i class="icon-heart"></i> like</button>
			          <% unless @pin.price == nil %>
			              <button class="btn btn-small pull_left"><i class="icon-tags"></i> buy</button>
			          <%end%>
			        </div>

			  	    <%=image_tag @pin.image(:large), class: 'box2'%>

			  	    <div class="like ">
	                    <%= rating_for @pin, "like" %>
                    </div>   	
				</div>
				<div class="pin_info">
	                  <%= image_tag @pin.user.gravatar_url, class: 'pull_left'%>
	                  <h3 class="pin_creation"><%= @pin.user.name%> <span class="time"> . <%= time_ago_in_words(@pin.created_at)+ " ago"%>
	                  	<%if current_user == @pin.user %>
				        | <%= link_to 'Edit', edit_pin_path(@pin) %> 
				        <%end%>
				        </span></h3>                  	 
				</div>
				
					<div class="comment_info">
		                  <%= image_tag current_user.gravatar_url, class: 'pull_left'%>
		                  <h3 class="pin_creation"><%= current_user.name%> </h3>
						  <%= render_comments_form @pin %>
						   
					</div>
					<div class="pin_info">
						<%= render_comments @pin, :page => params[:page], :limit => 5 %>	
					</div>
				
			</div>
			<div class="grid_4 omega">
				<div class="follower">
                 
				</div>

				<div class="follower_grid">
					<% current_user.followers.each do |follower| %>
					<ul>
						<li>
							<%= link_to (image_tag follower.gravatar_url, class: 'img-circle' ), follower  %>
						</li>
					<%end %>
					</ul>       
				</div>

			</div>
		</div>
	</div>
</div>