
<div class="container_12">
	<div class="grid_12">
		<div class="pin_account grid_4 ">

		<div class="well">
			  <div class="box">
			  	<%=image_tag @pin.image %>

			  </div>
			  <p class="form_sub">
			  	<%= @pin.description %>
			  </p>

			  <p class="form_sub">
			  	<%= @pin.user.name %>
			  </p>

			  <% if current_user == @pin.user %>
			  <%= link_to 'Edit', edit_pin_path(@pin) %> |
			  <%end%>
	          <%= link_to 'Back', pins_path %>
	       

			</div>
		
	
		</div>

	</div>

</div>