<%= javascript_include_tag "ajax-submit" %>
<div class="ajax-progress"></div>
<div class="container_16">
	<div class="grid_16">
			<div class=" grid_11 alpha">
				<div class="index">
					<div class="follow_widget">
					 <%= image_tag @user.gravatar_url, class: 'img-circle' %>

						<div class="widget_info">
							<h1><%= @user.name %></h1>
							<p><%= @user.description %></p>
							<h3><%=image_tag('location.png')%> <%= @user.location%></h3>
							
							<div class="btn_follows">
								<% if user_signed_in? %>
									<div id="follow_user">
									<%= render :partial => "shared/follow_user", :locals => {:user => @user} %>
									</div>
								<% end %>
							</div>

						</div>
						
					</div>
				</div>
			</div>

			<div class=" grid_4 omega">
				<div class="index">
					<div class="right_widget">

		            	<ul>
		            		<li><span class="pin_posted"><i class="icon-picture"></i> <%=@user.pins.count%> Pins Posted </span></li>
		            		<li>
		            			<%= @user.followers_count%> follower
		            		</li>
		            		<li>
		            			<%= @user.follow_count%> following
		            		</li>
		            	</ul>
		            </div>
	            </div>
	        </div>
     
		<div class="index3">
	   		<div id="pins">
				<%= render @pins %>
			</div>
			<%= will_paginate @pins %>
		</div>	

	</div>
</div>

