<%= javascript_include_tag "ajax-submit" %>
<div class="ajax-progress"></div>
<div class="container_16">
	<div class="grid_16">
			<div class=" grid_11 alpha">
				<div class="index">
					<div class="follow_widget">
					 <%= image_tag @user.gravatar_url, class: 'img-circle' %>

						<div class="widget_info">
							<h1><%= @user.name %></h1>
							<p><%= @user.description %></p>
							<h3><%=image_tag('location.png')%> <%= @user.location%></h3>
							
							<div class="btn_follows">
								<% if user_signed_in? %>
									<div id="follow_user">
									<%= render :partial => "shared/follow_user", :locals => {:user => @user} %>
									</div>
								<% end %>
							</div>

						</div>
						
					</div>
				</div>
			</div>

			<div class=" grid_4 omega">
				<div class="index">
					<div class="right_widget">

		                    <p class="goal"><%=link_to @user.pins.count,@pin%><br>Pins Posted</p>
		                    <p class="percent-funded"><%= @user.followers_count%><br>Follower</p>
		                    <p class="time-remaining"><%= @user.follow_count%><br> following</p>
	
		            </div>
	            </div>
	        </div>
     
		<div class="index3">
	   		<div id="pins">
				<%= render @pins %>
			</div>
			<%= will_paginate @pins %>
		</div>	

	</div>
</div>

