<div class="main_front">
  <div class="container_16">
      <div class="grid_16">
        <div class="grid_6 alpha">
          <div class="main_col">
            <%= image_tag "front_text.png"%>
            <!--<h1>Organize your picture</h1>
            <h3>save and share with the people you care</h3>-->
            <%= link_to 'Create my free account', login_path, class: "call_to_action"%>
          </div>
        </div>
        <div class="grid_9 omega ">
          <div class="computer">
            <%= image_tag "computer2.png"%>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="how_it_works">
  <div class="container_16">
    <div class="grid_16">
      <div class="wrapper">
        <div> 
          <h1 class="how_itlead"><span><%=image_tag('gear.png')%></span>How it work .</h1>
        </div>
      

      <div class="grid_4 suffix_1 alpha">
        <div class="color_bar_one">
        </div>
        <div class="main_bar">
          <%=image_tag('camera.png')%><h3 class="bar_orange">Capture</h3>
        </div>
      </div>

      <div class="arrow_one">
        <%=image_tag('arrow.png')%>
      </div>

      <div class="grid_4 suffix_1">
        <div class="color_bar_two">
        </div>
        <div class="main_bar">
          <%=image_tag('upload.png')%>
          <h3 class="bar_yellow">upload</h3>
        </div>
      </div>

      <div class="arrow_two">
        <%=image_tag('arrow.png')%>
      </div>

      <div class="grid_4 suffix_1 omega">
        <div class="color_bar_three">
        </div>
        <div class="main_bar">
          <%=image_tag('share.png')%>
          <h3 class="bar_blue">share</h3>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

      
