<div id="navbar" >
            <header class="container_16">
                <div class="grid_16">
                    <div class=" logo grid_2 suffix_2 alpha">
                        <%= link_to (image_tag("logo.png")), root_path %>
                    
                    </div>
                    <div class="nav grid_12  omega">
                        <ul>
                            
                            
                            <% if user_signed_in?%>

                            <li>
                                <%= link_to 'Add + ', new_pin_path %>
                            </li>

                            <li>
                              <a href="">My Pins</a>
                            </li>


                            <li>
                                <div class="top_gravatar">
                                    <%= image_tag current_user.gravatar_url %>
                                </div> 
                            </li>
                            
                            <li>
                                 
                              <%= link_to 'Edit Profile ' ,edit_user_registration_path%>
                               
                            </li>
                        
                            <li>  
                                <%= link_to "log out", destroy_user_session_path, method: :delete%>
                                
                            </li>

                            <%else%>
                            <li>
                                <%= link_to 'login', login_path %>
                            </li>

                            <%end%>

                        </ul>

                    </div>
                
                </div>
            </header>
        </div>