<div id="navbar" >
            <header class="container_16">
                <div class="grid_16">
                    <div class=" logo grid_2  alpha">
                        <%= link_to (image_tag("logo.png")), root_path %>
                    
                    </div>
                    


                    <div class=" nav_main grid_14  omega">
     
                    <% if user_signed_in?%>

                    <div class=" header_search grid_4  alpha">
                         <%= form_tag pins_path, :method => 'get', :class =>'form-search' do %>
                            <div class="input-append">
                                <%= text_field_tag :search, params[:search],class: "span2 search-query" %>
                                <%= submit_tag "Search" , :name => nil, class: "btn"%>
                            </div>
                         <% end %>
                    </div>
                        
                    <div class="grid_9 omega">
                        <ul>
                                <li>
                                   <%= link_to image_tag("add.png")+'Add +', new_pin_path %>
                                </li>
                                <li>
                                   <%= link_to image_tag("mypins.png")+ 'My Pins ', current_user %>
                                </li>

                                <li>
                                   <%= link_to image_tag("feed.png")+ 'Home Feed',activities_path %>
                                </li>


                                <!--<li>
                                    <div class="top_gravatar">
                                        <%= image_tag current_user.gravatar_url %>
                                    </div> 
                                </li>-->
                            
                                <li>
                                     
                                  <%= link_to image_tag("user.png")+ 'Profile' ,edit_user_registration_path%>
                                   
                                </li>
                            
                                <li>  
                                    <%= link_to image_tag("logout.png")+ "log out", destroy_user_session_path, method: :delete%>
                                    
                                </li>
                            
                        </ul>
                   
                     <%else%>
                            <ul>

                                <li>
                                    <%= link_to 'About', about_path %>
                                </li>


                                <li>
                                    <%= link_to 'login', login_path %>
                                </li>
                                
                                <li>
                                <%= link_to 'contact us ', contact_path %>
                                </li>

                                <%end%>

                            </ul>
                                
                    </div>
                                     

            </div>
        
        </div>
    </header>
</div>
