<div id="navbar" >
   <header class="container_16">
        <div class="grid_16">
            <div class=" logo grid_2  alpha">
                <%= link_to (image_tag("logo2.png")), root_path %> 
            </div>

            <div class="grid_14 omega">

               <% if user_signed_in?%>

                <div class="header_search grid_2 alpha">
                    <%= form_tag pins_path, :method => 'get' do %>
                        <div class="input">
                            <%= text_field_tag :search, params[:search]%>
                            <%= submit_tag "Search" , :name => nil, class: "btn-red"%>
                        </div>
                    <% end %>
                </div>
                
                <div class=" pull-right">
                    <ul class="main_nav">
                        <li>
                          <a href="#form_upload" rel="modal:open"><i class="icon-cloud-upload icon-2x"></i></a>                                               
                        </li>

                        <li>
                          <%=ilink_to "bell-alt icon-2x","" , activities_path  %>
                          <span class="unread_count badge badge-important">6</span>
                        </li>

                        <li>
                          <%= image_tag current_user.gravatar_url, :class => " img-circle" %>
                          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-caret-down"></i>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation"><%= ilink_to "star icon-large","my pins", current_user %></li>
                            <li role="presentation"><%= ilink_to "user icon-large","my profile", edit_user_registration_path %></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><%= ilink_to "signout icon-large","log out",destroy_user_session_path, method: :delete %></li>
                          </ul>
                          
                        </li>

                    </ul>

                </div>
                <div id="form_upload" class="modal" style="display:none;">
                     <%= render :partial => ('pins/form') %>
                </div>   
               
                 
                <%else%>

                <ul>

                    <li>
                        <%= link_to 'About', about_path %>
                    </li>


                    <li>
                        <%= link_to 'login', login_path %>
                    </li>
                    
                    <li>
                    <%= link_to 'contact us ', contact_path %>
                    </li>

                </ul>

                <%end%>
                
            </div>                                        
        </div>
    </header>
</div>
