<!DOCTYPE html>
<html>
<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("42fe532c6e8bf8279f77eea6cc692f0a");</script><!-- end Mixpanel -->
<head>
  <title>Pindrop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <script type="text/javascript">if (window.location.hash == '#_=_')window.location.hash = '';</script>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'%>
  	<div class="container_16">
      	<div class="grid_16">
          
          <%flash.each do |type, message| %>
                <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <%=flash[:notice]%>
                </div>
            </div>
          <%end%>
        </div>          
    </div>
	<%= yield %>
	<%= render 'layouts/footer'%>
  <% if Rails.env.production? %>
  <%= render :partial => 'layouts/ga' %>
  <%end%>
</body>
</html>
